{% set active_page = "Openings" %}
{% set page_title = "Openings" %}
{% extends "base.html" %}


{% block content %}
  <!-- Contact -->
    {{ components.section("Contact us") }}
    <p>Thank you for your interest in the AI4Chemistry Lab! We will be officially online soon by the end of 2025. We welcome questions, collaborations, and inquiries from researchers and students who share our passion for AI4Science and quantum chemistry.</p>
    
    <div class="contact-info">
      <p><strong>📍 Address:</strong> The Hong Kong University of Science and Technology, Clear Water Bay, Hong Kong</p>
      <p><strong>✉️ Email:</strong> <a href="mailto:sherrylixuecheng@gmail.com">Lixue Cheng (Sherry)</a></p>
      <p><strong>🔗 GitHub:</strong> <a href="https://github.com/AI4QC" target="_blank">Group Home</a>, <a href="https://github.com/sherrylixuecheng" target="_blank"> Sherry's own github</a></p>
      <p><strong>🔗 Google Scholar:</strong> <a href="https://scholar.google.com/citations?user=hy_oauIAAAAJ&hl=en" target="_blank">Sherry's profile</a></p>
    </div>

    <p>We look forward to hearing from you and exploring ways to collaborate or share ideas!</p>

    {{ components.section("Openings") }}

    <p>As an interdisciplinary research group working at the intersection of AI and the physical sciences, we are actively seeking talented and motivated researchers from science-related fields (chemistry, physics, biology, materials science, etc.) as well as AI-focused disciplines (computer science, mathematics, statistics, etc.). Interested candidates are encouraged to reach out to Dr. Cheng directly via <a href="mailto:lixuecheng@ust.hk">email</a> or through any of our group social media channels (<a href="https://x.com/SherryLixueC">X</a>, <a href="https://bsky.app/profile/lixuecheng-ai4chem.bsky.social">BlueSky</a> , etc.).</p>

    <p><b>⌛Current openings</b>:</p>

    <p>- Graduate Student Position: 2-3 graduate students, starting 2026 Spring or 2026 Fall</p>
    <p>- Postdoctoral Position: 1 postdoc or research staff, starting 2025 Winter or 2026 Spring or 2026 Fall</p>


    <p><b>🚀Long-term openings</b>:</p>
    As part of our commitment to fostering better education in the AI era, we warmly welcome younger generations to join our group. High school and undergraduate students are especially encouraged to participate in our AI for Science research initiatives.

    {{ components.section("What you will gain by joining:") }}

    <p><b>🌱 A supportive and collaborative environment</b>: We will work together as partners and colleagues, not just as students and supervisors.</p>
    <p><b>💡 Cultivate your own scientific style and taste</b>: Develop your own approach to AI for Science and scientific problem solving.</p> 
    <p><b>🧪 Develop critical scientific insights</b>: Develop your own approach to AI for Science and scientific problem solving.</p> 
    <p><b>🛠️ Build a versatile AI-era skill set</b>: Learn to bridge theory and experiment with ML and data science via industrial standard coding practices. </p> 
    <p><b>🔬 Tailored growth for diverse goals</b>: Sherry comes back from industry (alumni of MSR & Tencent) and cares about your own career goals. We encourage students to continue your career in either academia or industry. For different career paths, we would like to provide research opportunities that help you the most. We also encourage students to actively participate in industry internships. </p> 
    <p><b>🌍 Opportunities to connect and collaborate</b>: Get connected with both Chemists and Computer Scientists from both academia and industry.

{% endblock %}
