{% set active_page = "Openings" %}
{% set page_title = "Openings" %}
{% extends "base.html" %}


{% block content %}
<!-- Contact -->
  {{ components.section("Contact us") }}
  <p>Thank you for your interest in the AI4PhysSci Lab! We welcome questions, collaborations, and inquiries from researchers and students who share our passion for AI4Science and quantum chemistry.</p>
  
  <div class="contact-info">
    <p><strong>📍 Address:</strong> The Hong Kong University of Science and Technology, Clear Water Bay, Hong Kong</p>
    <p><strong>✉️ Email:</strong> <a href="mailto:lixuecheng@ust.hk">Lixue Cheng (Sherry)</a></p>
    <p><strong>🔗 GitHub:</strong> <a href="https://github.com/AI4QC" target="_blank">Group Home</a>, <a href="https://github.com/sherrylixuecheng" target="_blank"> Sherry's own github</a></p>
    <p><strong>🔗 Google Scholar:</strong> <a href="https://scholar.google.com/citations?user=hy_oauIAAAAJ&hl=en" target="_blank">Sherry's profile</a></p>
  </div>

  <p>We look forward to hearing from you and exploring ways to collaborate or share ideas!</p>

  {{ components.section("Openings") }}

  <p>As an interdisciplinary research group working at the intersection of AI and the physical sciences, we are actively seeking talented and motivated researchers from science-related fields (chemistry, physics, biology, materials science, etc.) as well as AI-focused disciplines (computer science, mathematics, statistics, etc.). Interested candidates are encouraged to reach out to Dr. Cheng directly via <a href="mailto:lixuecheng@ust.hk">email</a> or through any of our group social media channels (<a href="https://x.com/SherryLixueC">X</a>, <a href="https://bsky.app/profile/lixuecheng-ai4chem.bsky.social">BlueSky</a> , etc.).</p>

  <p><b>⌛Current openings</b>:</p>

  </p> We have one opening in AI for Material Design direction, and we would like to recruit one PhD student for 2026 Fall. We prefer students with backgrounds from Material sciences or Condensed matter physics or Computer sciences. Please contact Sherry for more details.</p>  

  <p><b>🚀Long-term openings</b>:</p>
  As part of our commitment to fostering better education in the AI era, we warmly welcome younger generations to join our group. High school and undergraduate students are especially encouraged to participate in our AI for Science research initiatives.

  {{ components.section("What you will gain by joining:") }}

  <p><b>🌱 A supportive and collaborative environment</b>: We will work together as partners and colleagues, not just as students and supervisors.</p>
  <p><b>💡 Cultivate your own scientific style and taste</b>: Develop your own approach to AI for Science and scientific problem solving.</p> 
  <p><b>🧪 Develop critical scientific insights</b>: Develop your own approach to AI for Science and scientific problem solving.</p> 
  <p><b>🛠️ Build a versatile AI-era skill set</b>: Learn to bridge theory and experiment with ML and data science via industrial standard coding practices. </p> 
  <p><b>🔬 Tailored growth for diverse goals</b>: Sherry comes back from industry (alumni of MSR & Tencent) and cares about your own career goals. We encourage students to continue your career in either academia or industry. For different career paths, we would like to provide research opportunities that help you the most. We also encourage students to actively participate in industry internships. </p> 
  <p><b>🌍 Opportunities to connect and collaborate</b>: Collaborative work with Computer Scientists, Physists, Chemists and Material scientists from both academia (e.g. Caltech, Westlake U, HKUST, NUS, etc.) and industry.
  <p><b>💼 Internships and jobs</b>: Chances to work in several leading tech companies and AI research institutions (such as Shanghai AI Lab, Zhongguancun Academy, ByteDance, Tencent, Microsoft Research, DeepMind). We provide opportunities to do internships in Year 3 PhD.</p> 

  {{ components.section("Timeline for contacting Sherry as a prospective PhD student") }}
  We recommend prospective students to reach out to Sherry before the end of Summer for the next year's Fall admission cycle. And please consider being an online or offline research intern with our group to increase your chance to be admitted. For example, a student who wants to apply for 2027 Fall PhD admission, should consider contacting us in Nov, 2025 to Feb, 2026 to be considered as a summer RA. If only considers directly applying to 2027 Fall PhD, this student should consider contacting Sherry before August, 2026. We usually don't consider students contact after Nov.</p>

  {{ components.section("Selection criteria for PhD candidates of AI4QC lab") }}
  </p>Note 1: The following requirements are different from the HKUST official PhD application requirements. Satisifying the minimum requirements does not guarantee admission to our group. </p> 
</p> Note 2: If you don't meet the minimum requirements, you could check out the </b><a href="mini_tests.html"> Mini Tests</a></b> and submit multiple test results to show your strong capabilities and potentials. We will help you to figure out the solution together. </p>
  </p> <b>GPA:</b> Minimum GPA to be above 3.4/4.0 or 3.6/4.3 or equivalent. </p>  
  </p> <b>English proficiency:</b> For non-native English speakers, a minimum TOEFL score of 95 (iBT) or IELTS score of 7 is required. </p>
  </p> <b>Research experience:</b> Prior research experience in relevant fields is <b>a plus not a requirement</b>. We still welcome students from other fields to apply. The relevant fields are listed as follows: </p>
  </p> 1. AI/ML: Bayesian learning and statistical learning, Deep learning (Graph NN, Representation learning, Transformer, Langurage model, Diffusion model, Flow-based model, Reinforcement learning, etc.), Agentic AI, etc. </p>  
  </p> 2. Physics: Theoretical physics, High energy & particle physics, AMO (atomic, molecular & optical) physics, Quantum information/computing, Computational physics, Condensed matter physics theory, etc.  </p>
  </p> 3. Applied math/Statistics: Numerical analysis, Probalistic modeling, Stochastic DE, Optimization, Complexity theory, etc. </p>
  </p> 4. Chemistry/Material science: Electornic structure theory, Quantum dynamics, Computational material science, Computational chemistry, etc. </p>
  </p> <b>Math and coding requirements:</b> All the applicants require to know (no need to take courses, but the interview will contain questions in the following topics): (1) Linear Algebra (2) Probability and statistics (3) Python coding (4) GitHub </p>
  </p> <b><a href="https://cerg1.ugc.edu.hk/hkpfs/index.html">HKPFS</a>:</b> We strongly encourage and support applicants to apply for the Hong Kong PhD Fellowship Scheme (HKPFS). But this is not a requirement (not even a plus) for getting into AI4QC lab, due to the deviations of selection metrics</p>

  {{ components.section("Suggested UG courses before you join") }} 
  Before applications, we suggest candidates to consider taking the following courses, to be considered as a candidate, you have to take at least 5 courses from the following list. </p>
  </p> 1. CS/Math: Linear Algebra, Probability and Statistics, Data Structures, Introduction to Machine Learning/AI, Mathematical Modeling, Stochastic Processes and Markov Chains, Convex Optimization, Statistical Learning Theory, Functional Analysis, Topics in ML (Gaussian Processes, Graph Neural Networks, Reinforcement Learning, Generative Models, Language Models). </p>
  </p> 2. Physics/Chemistry/Materials: Quantum Mechanics, Statistical Mechanics, Introduction to Electronic Structure, First-Principles Calculations, Computational Physics, Group Representation Theory (note: not just group theory; chemistry students may encounter this in inorganic or structural chemistry courses), Solid-State Physics, Polymer Chemistry/Physics, Introduction to Quantum Computing. </p>
  </p> 3. Other foundational skills: Python (NumPy, SciPy, Scikit-learn, Pandas, etc.), PyTorch, JAX. Proficiency in using the Linux operating system, command line, Slurm, Docker/Conda for environment setup, and the ability to collaborate effectively with AI agents (e.g., coding together, having AI assist in matching paper formulas with code, etc.). C++ is not required but is a plus. </p>
  {% endblock %}
