{% set active_page = "Openings" %}
{% set page_title = "Openings" %}
{% extends "base.html" %}


{% block content %}
  <!-- Contact -->
    {{ components.section("Contact us") }}
    <p>Thank you for your interest in the AI4Chemistry Lab! We will be officially online soon by the end of 2025. We welcome questions, collaborations, and inquiries from researchers and students who share our passion for AI4Science and quantum chemistry.</p>
    
    <div class="contact-info">
      <p><strong>📍 Address:</strong> The Hong Kong University of Science and Technology, Clear Water Bay, Hong Kong</p>
      <p><strong>✉️ Email:</strong> <a href="mailto:sherrylixuecheng@gmail.com">Lixue Cheng (Sherry)</a></p>
      <p><strong>🔗 GitHub:</strong> <a href="https://github.com/AI4QC" target="_blank">Group Home</a>, <a href="https://github.com/sherrylixuecheng" target="_blank"> Sherry's own github</a></p>
      <p><strong>🔗 Google Scholar:</strong> <a href="https://scholar.google.com/citations?user=hy_oauIAAAAJ&hl=en" target="_blank">Sherry's profile</a></p>
    </div>

    <p>We look forward to hearing from you and exploring ways to collaborate or share ideas!</p>

    {{ components.section("Openings") }}

    <p>As an interdisciplinary research group working at the intersection of AI and the physical sciences, we are actively seeking talented and motivated researchers from science-related fields (chemistry, physics, biology, materials science, etc.) as well as AI-focused disciplines (computer science, mathematics, statistics, etc.). Interested candidates are encouraged to reach out to Dr. Cheng directly via <a href="mailto:sherrylixuecheng@gmail.com">email</a> or through any of our group social media channels (X, BlueSky, etc.).</p>

    <p><b>⌛Current openings</b>:</p>

    <p>- Graduate Student Position: 1-2 graduate students, starting 2026 Spring or 2026 Fall</p>
    <p>- Postdoctoral Position: 1 postdoc or research staff, starting 2025 Winter or 2026 Spring or 2026 Fall</p>


    <p><b>🚀Long-term openings</b>:</p>
    As part of our commitment to fostering better education in the AI era, we warmly welcome younger generations to join our group. High school and undergraduate students are especially encouraged to participate in our AI for Science research initiatives.


{% endblock %}
