{% set active_page = "Evaluator & Agent" %}
{% set page_title = "Evaluator & Agent" %}
{% extends "base.html" %}

{% block content %}
  <!-- Contact -->

  Evaluator & Agent are highly collaborative modules that  Collaboration with experiment teams
    {{ components.section("Evaluator : AI for Experimental Design") }}

  Reinforcement Learning or Bayesian Optimization 

    {{ components.section("Scientific LLM Agent: High Quality Benchmark Metrics & Datasets & Problem-driven Fine-tuning") }}


{% endblock %}
