{% set active_page = "HKUST Chemistry FYP" %}
{% set page_title = "HKUST Chemistry FYP" %}
{% extends "base.html" %}


{% block content %}
<!-- Contact -->
  {{ components.section("HKUST Chemistry major Final Year Project (FYP)") }}
  
  <p>We welcome <b>Year 3 undergraduate students majoring in Chemistry at HKUST</b> to contact Sherry and consider joining our group for their </b>Final Year Project (FYP)</b> in </b>every November</b>. </p>
  <p><b>List of research track topics in 2026 (applying for 2027 FYP, topics vary every year)</b></p>
  <ul>
    <li>Wavefunction Learning with Transformer: Extending the current Orbformer architectures to learn a general foundation model (FM) for excited states of molecular systems.</li>
    <li>Orbital-based learning via Representation Learning and Graph Transformer: </li>
    <li>Generative Models for Material Design: Using generative AI (majorly diffusion model and flow matching) techniques to design novel materials with desired properties.</li>
    <li>LLM for Material Agents: Finetuning a large language model (LLM) for material agent to assist specific material discoveries (catalytsts, batteries, and polymers).</li>
  </ul> 
  <p><b>Q & A about FYP application:</b></p>
  <p><b>Q1: When should I contact Sherry for FYP application?</b></p>
  <p>A1: Usually in early November of Year 3. 
  <p><b>Q2: How many students every year we take?</b></p>
  <p>A2: To ensure the education quality, we usually consider 3-5 students every year. </p>
  <p><b>Q3: What are the selection criteria?</b></p>
  <p>A3: We most value three aspects: Python coding skills, GitHub repos and Chemistry insights. We do not set a minimum GPA requirement, and no prior research experience is required, but a strong passion for AI for Science is a must. </p>
  <p><b>Q4: Can I continue to do a PhD with AI4PhysSci lab after FYP?</b></p>
  <p>A4: Yes, we encourage our FYP students to continue their PhD studies with us. Strong FYP performance can significantly enhance your chances of being admitted to our PhD program. </p>
  <p><b>Q5: Can I start eariler with you in Year 3 and continue FYP?</b></p>
  <p>A5: Yes, if you are interested in starting earlier, you can consider joining us as a research intern in spring or summer of Year 3 before your FYP. This experience can provide valuable insights and preparation for your FYP project. </p>
  <p><b>Q6: Any possibilities to take students outside HKUST Chemistry major?</b></p>
  <p>A6: We primarily accept students from HKUST Chemistry program. If you are from a related field and have a strong interest in AI for Science, please feel free to reach out to discuss the possibilities of FYP. Please first check with your UG coordinator for the possibilites.</p>
{% endblock %}
