{% set active_page = "Home" %} {% extends "base.html" %} {% block top %}
<style>
    .back {
        background: url("{{config.background_image}}") no-repeat center;
        background-size: 1000px;
    }
    .back h2 {
        font-family: "Lato", sans-serif;
        font-weight: 900;
    }
</style>

<div class="container back" style="padding-bottom: 100px; padding-top: 150px">
    <div class="row header">
        <div
            style="-webkit-text-stroke: 1px black"
            class="p-1 text-center text-white col-md-12 col-sm-12"
        >
            <h2>{{config.tagline|safe}}</h2>
            </h2>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<!-- <div class="alert alert-info" role="alert">
    <center><strong>Please volunteer to the program committee <a href="https://forms.gle/rZp67YvMn1hnM6wV8">here</a>, both reviewers and ACs needed!</strong></center>
</div> -->


{{ components.section("AI for Chemistry lab") }}

<div class="h5" style="line-height: 1.5; padding-bottom: 50px">
    <p>We are an <b>AI for science</b> lab rooted in the fields of <b>quantum and computational chemistry</b>. At our core, we’re dedicated to use the latest advances in artificial intelligence and quantum computing to create <b>practical, reliable tools</b> that tackle <b>real-world scientific challenges</b>. Guided by the philosophy of <b>“developing useful, not just fancy, tools,”</b> we explore the frontiers of AI4Science and build tools that scientists can truly use. While our central focus is on quantum and computational chemistry, our interests extend broadly to address diverse challenges across the scientific landscape</p>
    <p>🔬 Applying <b>AI and deep learning</b> to solve <b>electronic structure</b> problems, including complex and strongly correlated systems.</p>
    <p>⚛️ Designing <b>AI assisted quantum algorithms</b> for hardware and leveraging AI x quantum computing to accelerate chemical discovery.</p>
    <p>🔗 Developing a <b>foundation model</b> for computational chemistry via <b>multi-scale, physics-informed models</b> that integrate <b>data-driven and physics-driven approaches</b>.</p>
    <p>🌐 Building <b>experiment-friendly, open-source protocols</b> that bridge computational predictions with laboratory experiments.</p>
    <p>🤝 We believe in <b>collaboration and community</b>: beyond fundamental research, we strive to make our tools accessible and user-friendly for experimentalists and non-AI experts. As active contributors and memebers of <a href="https://ai4sciencecommunity.github.io/">AI4Science community</a>, we are also engaged in outreach and education to inspire the next generation of scientists.</p>
    <p>We welcome motivated students, researchers, and potential collaborators to <a href="contact.html"> join us!</a> Let’s work together to push the boundaries of computational chemistry and AI for Science.</p>
</div>


{% endblock %}
