{% set active_page = "Committee" %} {% extends "base.html" %}

{% block content %} 


{{ components.section("Current Members") }}
{{ components.organizergroup(CurrentMember)}}

<!-- Area Chairs -->
{{ components.section("FYP students") }}

<p>TBA</p>

{{ components.section("Alumni") }}
{{ Alumni | safe }}

{{ components.section("Friends & Collaborators") }}

<ul>
  <li><strong>Zijun Pang</strong> - 1st year Communication Engineering, University of Electronic Science and Technology of China</li>
  <li><strong>Kexiang Hao</strong> - 1st year Electronic and Computer Engineering, University of Electronic Science and Technology of China</li>
  <li><strong>Bowen Zhang</strong> - 4th year Material Science & Engineering, Sichuan University</li>
  <li><strong>Chengyi Yang</strong> - 1st year Chemical Biology, Changsha University of Science and Technology</li>
</ul>
{% endblock %}
