{% set active_page = "Overview" %}
{% set page_title = "Overview" %}
{% extends "base.html" %}

{% block content %}
  <!-- Contact -->
    {{ components.section("Overview") }}
    <h5>
    <p>Our lab is an AI for Chemistry research group centered at <b>theoretical & computational chemistry</b>, especially <b>wavefunction learning </b>and <b>electronic structure theory</b> modelling. We focus on building practical, reliable, and user-friendly tools using AI, quantum computing, and physics-driven approaches. Our goal is to create a general and efficient framework that bridges data-driven models with fundamental electronic structure theories, providing accurate and scalable solutions for chemical problems. We actively work on <b>physics-driven multi-scale modeling</b> strategies via highly accurate <b>simulators</b>, <b>emulators</b>, <b>predictors</b> and <b>evaluators/agents</b> to achieve a collaborative efforts of AI, computational chemistry and experimentalists. </p>
    </h5>
    <div class="h6" style="line-height: 2;">

    <h4>
        🔬✨ Research Interest Summary
    </h4>
    <div class="h5" style="line-height: 1.5;">

    <title>Insert image</title>
    <style>
    .image-container {
      text-align: center; /* center the image within the container */
    }

    .image-container img {
      width: 70%;       /* shrink image to 50% of the container's width */
      height: auto;     /* maintain aspect ratio */
      display: block;   /* so margin: auto works if needed */
      margin: 0 auto;   /* center the image horizontally */
    }
    </style>
    </head>
    <body>

      <div class="image-container">
    <img src="static/images/overview.jpeg" alt="Overview of our interests">
  </div>

    {{ components.section("Focus on Challenges in AI4S") }}


  <div class="image-container">
    <img src="static/images/challenge.jpeg" alt="Challenge of AI4S">
  </div>


    <h4>
        ⚙️🔗 Our Approach: Multiscale + Physics driven modeling in AI4Chemistry
    </h4>
    <div class="h6" style="line-height: 1.5;">
    <p><b>Goal: Toward a fast, accurate and general foundation model for both ground & excite state chemistry </b></p>
  <div class="image-container">
    <img src="static/images/approach.jpeg" alt="approaches">
  </div>


  <p><b>1️⃣ <a href="simulator.html">Simulator</a> 🧪</b>: Generates a small but extremely high-quality dataset of wavefunctions using Deep QMC, AI boost quantum computing and other advanced quantum simulation methods. </p>
  <p><b>2️⃣ <a href="emulator.html">Emulator </a> ⚙️</b>: Uses orbital-representation-based graph neural networks/transformers to learn the Simulator’s outputs and expand data volume efficiently.</p>
  <p><b>3️⃣ <a href="predictor.html">Predictor </a> 🔮</b>: Predict molecular properties directly from structures (molecular graph, SMILES, etc), enabling fast, low-cost end-to-end applications. </p>
  <p><b>4️⃣ <a href="evaluator_agent.html"> Evaluator 📝 & Agent 🤖</a></b>: Fine-tune large scientific language models as AI agent + Bayesian optimization to integrate literature data, and guide real-world experiments. </p>

    {{ components.section("Diverse directions") }}

    <h4>
        🚀🌟 Current Active Projects
    </h4>
    <div class="h6" style="line-height: 1.5;">

  <p><b>1️⃣ AI for Quantum Chemistry</b></p>
   <p>• Orbital-based machine learning for highly accurate ground and excited state wavefunction theory emulation (Emulator): Selected papers <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jctc.8b00636">1</a>  <a href="https://pubs.acs.org/doi/10.1021/acs.jctc.2c00396">2</a> </p> 
   <p>• Ab initio wavefunction learning via Deep Quantum Monte Carlo (Simulator): Selected papers <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jctc.8b00636">1</a>  </p> 
  <p><b>2️⃣ AI x Quantum Computing x Quantum Chemistry</b></p>
   <p>• Quantum computing for quantum chemistry (Simulator): Selected papers <a href="https://pubs.acs.org/doi/10.1021/acs.jctc.3c00886">1</a> <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jctc.3c00319">2</a> </p>
   <p>• Machine Learning for variational quantum algorithms (Simulator): Selected papers <a href="https://www.nature.com/articles/s42005-024-01577-x">1</a>  </p>
  <p><b>3️⃣ Machine learning potential energy surface (MLPES) & force field (MLFF): </b>  Selected papers <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.4c08826">1</a>  <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.2c02243">2</a> </p> 
  <p><b>4️⃣ AI for Experiment Design (Evaluator)</b></p>
   <p>• Bayesian optimization for experimental design: Selected papers <a href="https://arxiv.org/abs/2205.09548">1</a>  </p>
  <p><b>5️⃣ Benchmark of LLM & Scientific Dataset Construction (Agent)</b>: Selected papers <a href="https://arxiv.org/abs/2311.07361">1</a>  </p>
{% endblock %}
