{% set active_page = "Predictor" %}
{% set page_title = "Predictor" %}
{% extends "base.html" %}

{% block content %}
  <!-- Contact -->
    {{ components.section("Chemistry Applications: Property Predictions via Fine-tuning Foundation Models") }}


  <p>This is the downstream task layer of the <a href="emulator.html">Emulator</a>, designed to enable end-to-end prediction of chemical properties using structural inputs or other zero-cost chemical descriptors. Through a pretraining–finetuning framework, we can expand the capabilities of existing foundation models developed by other teams—such as MACE-OFF23 (force fields), EVO & EVO2 (DNA/genomics), and some material property predictors. Additionally, we could use Emulator to construct highly accurate and smooth potential energy surfaces (PESs) suitable for various types of molecular dynamics simulations.</p>

  <p>To achieve reliable and practical predictions for real-world applications, this direction depends on close collaboration and testing with experimental chemists. We have already had some collaborators and are actively seeking more to help bring these models into broader use.</p>

  <p>More application examples will be added as new collaborations develop.</p>


{% endblock %}
