{% set active_page = "Simulator" %}
{% set page_title = "Simulator" %}
{% extends "base.html" %}

{% block content %}
  <!-- Contact -->
    {{ components.section("Deep Quantum Monte Carlo") }}

    <title>Insert image</title>
    <style>
      .image-wrapper {
      float: right;
      width: 40%;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .image-wrapper img {
      width: 100%;
      height: auto;
      display: block;
    }

    .text-content {
      overflow: hidden; /* ensures container grows around floated content */
    }
  </style>
</head>
<body>

   <title>Insert image left</title>
    <style>
      .image-wrapper1 {
      float: left;
      width: 40%;
      margin-left: 20px;
      margin-bottom: 10px;
    }

    .image-wrapper1 img {
      width: 100%;
      height: auto;
      display: block;
    }

    .text-content {
      overflow: hidden; /* ensures container grows around floated content */
    }
  </style>
</head>
<body>

  <div class="text-content">
    <div class="image-wrapper">
      <img src="static/images/deepqmc_review.jpg" alt="Figure extract from Hermann, J., et al. Ab initio quantum chemistry with neural-network wavefunctions. Nature Reviews Chemistry 7.10 (2023): 692-709.">
    </div>
    <p> <b>Deep Quantum Monte Carlo (deep QMC)</b> is a cutting-edge approach that combines deep learning with variational quantum Monte Carlo (VMC) methods to directly solve the electronic Schrödinger equation for molecules and materials. By using neural networks to approximate wavefunctions, deep QMC can achieve wavefunction-level accuracy while handling complex, strongly correlated systems that are typically challenging for traditional quantum chemistry methods.
    </p>

    <p> Current active community repo: <a href="https://github.com/deepqmc/deepqmc"> Deep QMC repo by FU Berlin team</a> </p> 
    <p> Suggested reading: <a href="https://www.nature.com/articles/s41570-023-00516-8"> Review paper by Hermann et al 2023</a>; <a href="https://www.science.org/doi/abs/10.1126/science.adn0137"> Excited state deep QMC paper by Pfau et al 2024 </a> </p> 
  </div>

  <div class="text-content">
    <div class="image-wrapper1">
      <img src="static/images/deepQMC_formula.png" alt="Formula">
    </div>
    <p class="h4"> <b> 🧪 General formualtion & Status of Deep QMC: </b></p>
    <p> ✅ Many good results on both ground state & excited state problems</p>
    <p style="color: crimson;"> 🚧  Problem 1. Still expensive: Need to further speed-up DeepQMC</p>
    <p style="color: crimson;"> 🚧  Problem 2. Usually only get energies: WF can provide more properties</p>
  </div>
    
    <p class="h4"> <b> 🧠 Our Efforts:</b></p>

    <p class="h5" style="color: #2e8b57;"><b> Solution 1: Orbformer--A pretrained wavefunctioin fundation model & its finetuning for downstream applications</b>: TBA </p>

    <p class="h5" style="color: #2e8b57;"><b> Solution 2: Properties extraction for DeepQMC</b>:</p> Example: <a href="https://doi.org/10.1063/5.0236919"> Neural electron real-space density (NERD) </a>


    {{ components.section("AI x Quantum Computing for Quantum Chemistry") }}

{% endblock %}
